<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de registro</title>
    <%- include ('partials/head.html') %>

</head>
<body>
    <%- include ('partials/navigation.html') %>
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content bg-dark">
                    <div class="col-12 user-img mb-2">
                        <img src="img/user.png"/>
                    </div>
                    <div>
                        <h5 class="text-white pb-2">Registrarse</h5>
                    </div>
                    <form id="register" name="register" class="col-12" method="post" action="/register">
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Nombre" name="firstname"/>
                        </div>
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Apellido" name="lastname" />
                        </div>
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" />
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input type="password" class="form-control" placeholder="Contraseña" name="password" />
                        </div>
                        <input type="submit" value="Sign Up" class="btn btn-primary button-custom"/>
                    </form>
                   
                    <% if(mensaje != ''){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= mensaje %>
                        </div>
                    <% }  %>     
                   
                </div>
            </div>
        </div>
</body>
</html>